global
    log /dev/log local0 crit
    maxconn 8192
    nbthread 1

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  60s
    timeout server  60s
    timeout queue   10s

frontend http_in
    bind *:9999 backlog 4096
    maxconn 12000
    default_backend api_servers

backend api_servers
    balance roundrobin
    default-server maxconn 3000
    server api1 unix@/sockets/api1.sock
    server api2 unix@/sockets/api2.sock
